.display-4{
  text-align: left;
}

.lead{
  text-align: left;
}

table, th, td{
  border: 5px solid black;
  text-align: left;
}

th{
  background: #0071AD;
  color: white;
}

#categories{
  border: 2px solid black;
  padding: 5px;
  text-align: center;
}

#registration_btn{
  background-color:  #4c1778;
}

#registration_form{
  background-color:  green;
  color: blue;
}
