<!DOCTYPE html>
{% extends 'viewer/base.html' %}
  {% block body_block %}
  <h1>Registration</h1>
  {% endblock %}


  {% block body_block_two %}
  <div class="container-fluid">
    {% if registered %}
      <h1>Thanks for registering!</h1>
    {% else %}
    <div class="container" style="border: 2px solid black; border-radius: 25px; background: pink">
      <form enctype="multipart/form-data" method="POST">
        <div class="form-group">
          {% csrf_token %}
          {{ user_form.as_p }}
          <input type="submit" name="" value="Register">
        </div>
      </form>
    </div>
    {% endif %}
  </div>
  {% endblock %}
