<!DOCTYPE html>
{% extends 'viewer/base.html' %}
  {% block body_block %}
  <h1>Registration</h1>
  {% endblock %}


  {% block body_block_two %}
  <div class="container-fluid">
    {% if registered %}
      <h1>Thanks for registering!</h1>
    {% else %}
    <form enctype="multipart/form-data" method="POST">
      <div class="form-group">
        {{ user_form.as_p }}
        {% csrf_token %}
      </div>
      <input type="submit" name="" value="Register">
    </form>
    {% endif %}
  </div>
  {% endblock %}
